{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .chat-header{
            display: flex;
            justify-content: left;
        }
        .chat-header img{
            width: 50px;
            height: 30px;
        }
        .chat-header-photo {
            display: flex;
            justify-content: right;
            margin-bottom: 10px;
        }

        .chat-header-photo img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .chat-header-photo h2 {
            display: flex;
            align-items: center;
            margin: 0;
        }
        .chat-body {
            flex: 1;
            overflow-y: auto;
            padding: 10px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
            max-height: 320px;
        }

       

        .message-sent{
            display: flex;
            justify-content: flex-end;
        }

        .message-received {
            display: flex;
            justify-content: flex-start;
        }

        .message-content, .message-content-r {
            display: flex;
            justify-content: flex-end;
            max-width: 70%;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 5px;
        }

        .message-content {
            background-color: #aadac4;
            
        }
        .message-content-r {
            background-color: #a5a2a2;
            
        }

        
        .chat-footer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form {
            border-radius: 10px;
        }

        .submit {
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            background-color: #007bff;
            color: white;
            margin-left: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <a href="{% url 'chatting' user.id %}">
                <img src="{% static '/flecha.png' %}">
            </a>
            <div class="chat-header-photo">
                <img src="{{ friend.pic.url }}" >
                <h2>{{ friend.name }}</h2>
            </div>
        </div>
        <div class="chat-body">
            
            {% for chat_send_box in mensaje_sent %}
            <div class="message-sent">
                <div class="message-content">
                    {{ chat_send_box }}
                </div>
            </div>
            {% endfor %}
            {% for chat_receive_box in mensaje_received %}
            <div class="message-received">
                <div class="message-content-r">
                    {{ chat_receive_box }}
                </div>
            </div>
            {% endfor %}
        </div>
        
            <form method="POST" class="chat-footer" id="myform">
                <div class="form">
                    {% csrf_token %}
                    {{ form.body }}
                </div>
                <button id="submit" class='submit' type="submit">Send</button>
            </form>
        
    </div>
        
 <script>
    function getCookie(name){
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++){
                const cookie = cookies[i].trim();
                
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                };
            };
        };
        return cookieValue;
    };
    const csrftoken = getCookie('csrftoken')

document.addEventListener('DOMContentLoaded', function() {
    let form = document.getElementById('myform')
    form.addEventListener("submit", sendChat)

    let lastMessageId = null;

    function sendChat(e){
        e.preventDefault()
        let chatMessage = document.getElementById('id_body').value

        console.log(chatMessage)
        const data = {msg: chatMessage};
        const url = "{% url 'sent_msg' user.id friend.id %}"

        fetch(url, {  
                method: 'POST',                           
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken  
                },
                body: JSON.stringify(data)                
            })
            .then(response => response.json())            
            .then(data => {
                console.log('Respuesta del servidor:', data);

                if (data.mensaje) {
                    addMessageToChat(data.mensaje, 'message-sent');
                } else {
                    console.error('Error:', data.error);
                }

                document.getElementById('id_body').value = '';
            })
            .catch(error => {
                console.error('Error al enviar los datos:', error);
            });
    };

    function addMessageToChat(message, messageType) {
        let chat_body = document.querySelector('.chat-body');
        let chatmessageBox = document.createElement('div');
        chatmessageBox.classList.add(messageType);

        let messageContent = document.createElement('div');
        if (messageType === 'message-received') {
            messageContent.classList.add('message-content-r');
        } else {
            messageContent.classList.add('message-content');
        }
        messageContent.innerText = message;

        chatmessageBox.appendChild(messageContent);
        chat_body.append(chatmessageBox);
        chat_body.scrollTop = chat_body.scrollHeight;
    }
    
    setInterval(receiveChat, 2000) 
    let lastMessageCount = 0;

    function receiveChat(){
        let url = "{% url 'received_msg' user.id friend.id %}"
        fetch(url) 
        .then(response => response.json())            
        .then(data =>  {
            console.log('Success:', data);

            data.forEach(msg => {
                if (!lastMessageId || msg.id > lastMessageId) {
                    addMessageToChat(msg.body, 'message-received');
                    lastMessageId = msg.id;
                }
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
});
 </script>
                    
                    
            
            
{% endblock %}
                