{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .chat-header {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .chat-header img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .chat-header h2 {
            margin: 0;
        }
        .chat-body {
            flex: 1;
            overflow-y: auto;
            padding: 10px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
        }

        .message {
            display: flex;
            margin-bottom: 10px;
        }

        .message.sent {
            justify-content: flex-end;
        }

        .message.received {
            justify-content: flex-start;
        }

        .message-content {
            max-width: 70%;
            padding: 10px;
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .message.sent .message-content {
            background-color: #d1e7dd;
        }

        
        .chat-footer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form {
            
            
            border-radius: 10px;
            
        }

        .submit {
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            background-color: #007bff;
            color: white;
            margin-left: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="{{ user.pic.url }}" >
            <h2>{{ user.name }}</h2>
        </div>
        <div class="chat-body">
            <!-- Ejemplo de mensajes -->
            <div class="message sent">
                <div class="message-content">
                    {{ chat_send }}
                </div>
            </div>
            <div class="message received">
                <div class="message-content">
                    {{ chat_receive }}
                </div>
            </div>
        </div>
        
            <form method="POST" class="chat-footer">
                <div class="form">
                    {% csrf_token %}
                    {{ form.body }}
                </div>
                <button class='submit' type="submit">Send</button>
            </form>
        
    </div>
        
{% endblock %}
            
            